# Exploring all of the Niagara Data

We looked just at St. Catharines data, let's take a look at all of the data now.

In [2]:
import pandas as pd
import numpy as np

f = open("all_niagara_use.tab", "r")
niagara_data = pd.read_table(f)

niagara_data.columns = ["date","doi","Pub_code","User_code","country","city","lat","long"]
niagara_data = niagara_data.sort_values(by = "date", ascending = True)
niagara_data.head()

,date,doi,Pub_code,User_code,country,city,lat,long
1046,2017-01-01 11:12:43,10.1093/jmedent/35.1.71,18048,25846,Canada,Saint Catharines,43.159374,-79.246863
1047,2017-01-01 12:15:09,10.1089/vbz.2004.4.190,18048,25846,Canada,Saint Catharines,43.159374,-79.246863
1048,2017-01-01 16:22:15,10.1111/j.1365-2915.2011.00962.x,18048,25846,Canada,Saint Catharines,43.159374,-79.246863
1049,2017-01-01 18:53:48,10.1177/1087057108319864,39529,57891,Canada,Saint Catharines,43.159374,-79.246863
1050,2017-01-02 19:37:36,10.1046/j.1601-6335.2003.00268.x,115799,167352,Canada,Saint Catharines,43.159374,-79.246863

How Many papers were downloaded?

What is the amount of revenue lost assuming papers are about 50 each, what about 30?

How Many unique users are there?

How Many unique papers were downloaded?

What is the average number of papers downloaded by each user?